@use 'variables' as *;

// Flexbox centring helper
@mixin flex-center($dir: row) {
  display: flex;
  flex-direction: $dir;
  justify-content: center;
  align-items: center;
}

@mixin mq($bp) {
  @media (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

// Quick spacing helper: space(3) → 1rem
@function space($key) {
  @return map-get($space, $key);
}

// Darkmode
@mixin darkmode {
  @if (&) {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  } @else {
    @error "The Darkmode mixin must be used with a selector.";
  }
}
