.page-container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr; // sidebar width + main
  grid-template-areas: 'sidebar main';
  height: 100vh;

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // full width on small screens
    grid-template-areas: 'main'; // only main area
  }
}
